@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgb(197, 63, 63);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1px 3px 4px grey;
  }
  
  .navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    margin: auto;
  }
  
  .navbar__logout {
    margin-left: auto;
  }
  
  .navbar__link {
    text-decoration: wavy;
    font-family: 'Righteous', cursive;
    color: black;
    font-size: 1.25rem;
  }
  
  .navbar__link:hover {
    text-decoration: underline;
  }

  .logo__img {
    width: 5rem;
    text-decoration: none;
    border-radius: 30px;
  }
  
  li {
    font-family: 'Righteous', cursive;
  }